/* Non-Styling Blocks */

.roboto-gf {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  :root{
    --card_top_spacing: 15%;
    touch-action: pan-x pan-y;
    height: 100% 
  }
/* Big Styling (Containers, Body, etc.) */

#app_container{
    width: 100vw;
    height: 100vh;
    background: rgb(32,32,32);
    background: linear-gradient(209deg, rgba(32,32,32,1) 38%, rgba(34,74,48,1) 57%, rgba(45,132,76,1) 76%, rgba(59,202,109,1) 95%, rgba(69,252,133,1) 100%);
}

body{
    margin: 0px;
    font-family: Roboto;
    overflow: hidden;
    background: rgb(32,32,32);
}

/* Header Styling */
#header_container{
    width: 100vw;
    height: var(--card_top_spacing);
    position: relative;
}

#playlist_title{
    color: white;
    font-size: 2.5vh;
    text-align: center;
    top: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 0px;
    right: 0px;
}

/* Card Styling */

#song_card{
    z-index: 100;
    box-shadow: 0px 35px 13px -32px rgba(0, 0, 0, 0.75);
}

#next_song_card{
    z-index: 50;
    width: 80vw;
    height: 50vh;
    top: calc(var(--card_top_spacing) + 7%);
    box-shadow: 0px 35px 13px -32px rgba(0, 0, 0, 0.75);
}

#last_song_card{
    z-index: 1;
    width: 70vw;
    height: 45vh;
    top: calc(var(--card_top_spacing) + 13%);
}

.card {
    position: absolute;
    width: 90vw;
    height: 55vh;
    background-color: #14191d;
    left: 0px;
    right: 0px;
    top: var(--card_top_spacing);
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
}

.album {
    width: 100%;
    position: relative;
    height: 80%;
    object-fit: cover;
}

.song_info_container{
    position: relative;
    height: 20%;
}

.song_info {
    color: white;
    position: absolute;
    top: 10px;
    height: fit-content;
    left: 10px;
    font-size: 2.5vh;
}

/* Modifier Classes */

.bold_title{
    font-weight: 700 !important;
}

.subtitle{
    /* color: rgb(225, 225, 225); */
    opacity: 75%;
}